<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
    <listeners>
        <listener class-name="com.Listeners.ExtentReportListener"/>
        <listener class-name="com.Listeners.IRetryAnalyzerListener"/>
    </listeners>
  <test thread-count="5" name="Oilman">
    <classes>
      <class name="testPackage.LoginTest"/>
      <class name="testPackage.CompanyAssetsTest"/>
      <class name="testPackage.FieldAssetsTest"/>
      <class name="testPackage.LeaseAssetsTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
